body {
    background-color: #ebeff9;
    font-family: arial, sans-serif;
    font-size: 13px
}

#content {
    background-color: #ffffff;
    border-color: #b5c7de;
    border-style: solid;
    border-width: 4px;
    margin: 40px auto 20px;
    padding: 12px;
    width: 600px;
    -webkit-border-radius: 12px
}

h1 {
    color: #333333;
    font-size: 1.5em;
    margin: 0.7em 0 0;
    text-align: center
}

.option_row {
    clear: left;
    padding: 2.5em 1em 0
}

.option_name {
    float: left;
    font-weight: bold;
    margin-top: 3px;
    width: 13em
}

.option_picker {
    float: left
}

.buttons {
    clear: left;
	text-align: right;
    padding: 2em 1em 0.7em
}

#save_status {
    background-color: #fff1a8;
    font-weight: bold;
    margin-left: 10px;
    opacity: 0;
    padding: 3px;
    -webkit-border-radius: 3px
}

.footer {
    text-align: center;
    margin-top: 0.4em
}