{% extends "base.html" %}
{% block content %}
<div class="sign_con"> 
    <!--发送成功的DIV-->
    <div class="sign_succees">
      <p>你要找的页面不存在</p>
    </div>
	 <p><strong>404</strong> 错误</p>
    <p>请检查你输入的url地址是否合法</p>
    <p><a href="/">返回首页</a></p>
  </div>
</div>
{% endblock %}
{%block siderbar%}

{%endblock%}  