<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{{ title }}</title>
<meta name="keywords" content="{{keywords}}">
<meta name="description" content="{{description}}">
<link type="text/css" rel="stylesheet" href="/site_media/css/reset.css" />
<link type="text/css" rel="stylesheet" href="/site_media/css/skin.css" />
<link rel="shortcut icon" href="/site_media/images/guo.ico" type="image/x-icon" />
</head>

<body>
<div id="head">
500
</div>
<div id="foot">
  <p class="link_ft"><a href="#">关于网站</a> | <a href="#">联系我们</a> | <a href="#">帮助</a></p>
  <p>copyright@2010-2011 guapi.me</p>
</div>
</body>
</html>
