{% extends "base.html" %}
{% block content %}
  <div class="sign_con">
    <h2>修改资料</h2>
     <div id="tip_layout">设置更新成功</div>
    <form id="form1" name="form1" method="post" action="." enctype="multipart/form-data"  onsubmit="return jQuery.formValidator.PageIsValid()">
      <p>
      <label>果味号：</label>{{ user.id }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/account/reset/">&gt;修改密码</a>
        </p>
      <p>
      <p>
        <label>昵称：</label>
        <input type="text" name="nick_name" id="nick_name" value="{{ nick_name }}" /></p>
      <p>
      <p>
        <label>头像：</label>
        <img src="/static/{{user.get_profile.avatars.0}}" width="100" height="100" />&nbsp;<label><a href="/account/avatars/">&gt;修改头像</a></label></p>
      <p>
        <label>自我介绍：</label>
        <textarea rows="3" name="bio" id="bio">{{ bio }}</textarea>
      </p>  
      <p class="btn"><br>
        <input type="button" name="button3" id="button3" onclick="postaccount()"  value="更新资料" />
      </p>
    </form>
  <script type="text/javascript">
	//处理提醒信息
	function postaccount(){
	postcont=$("#form1").serialize();
	$.ajax({
                    type: 'POST',
                    url: "/account/",
                    data: postcont,
                    dataType: "html",
                    success: function (data) {
							$("#tip_layout").slideDown(800);

													
							},});                    
                    }
	
</script>


{% endblock %}
{%block siderbar%}

  <p class="sign_tip">&gt;<a href="/invitation/send">邀请好友</a></p>

{%endblock%}   
</div>

