{% extends "base.html" %}
{% block content %}
{% load get_rate %}  
  <div class="content"> 
    <!--开始-->
    <div class="app_detail">
      <div class="app_img"> <img src="{{data.artworkUrl100}}" width="160" height="160" />
        <p>[ iphone ]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="price">{{data.price_format}}</span></p>
      </div>
      <h1>{{data.name}}</h1>
      <dl class="app_info">
        <dt>大小：</dt>
        <dd>{{data.size}}</dd>
        <dt>分类：</dt>
        <dd>{{data.genre}}</dd>
        <dt>版本：</dt>
        <dd>{{data.vesion}}</dd>
        <dt>发布时间：</dt>
        <dd>{{data.releaseDate}}</dd>
        <dt>语言：</dt>
        <dd>{{data.languageCodesISO2A}}</dd>
        <dt>开发商：</dt>
        <dd>{{data.sellerName}}</dd>
        <dt>系统：</dt>
        <dd>{{data.app_requirements}}</dd>
        <dt>支持设备：</dt>
        <dd>{{data.device}}</dd>
      </dl>
      <div class="app_digg"><a href="#" class="bad">{{data.get_good_rate}}</a> <a href="#" class="good">{{data.get_bad_rate}}</a></div>
      <div class="app_des">
        <h2>屏幕截图 ·  ·  ·  ·  ·  · <a href="#">(全部6张)</a></h2>
        <div class="img_box"> 
        {%for img in data.iphone_screenshots%}

        <img src="{{img}}" />
        {%endfor%}
        {%for img in data.ipad_screenshots%}

        <img src="{{img}}" />
        {%endfor%}
        {%for img in data.mac_screenshots%}

        <img src="{{img}}" />
        {%endfor%}
        </div>
      </div>
      <div class="app_des">
        <h2>内容提要 ·  ·  ·  ·  ·  · </h2>
        {% autoescape off %}
        <div>{{data.description}}</div>
        {% endautoescape %}
      </div>
      
    </div>
    <!--结束-->
    <h2 class="title">最新评论 ·  ·  ·  ·  ·  · </h2>
    <div class="app_cont">
    {%for post in post_set%}
      <dl class="promulgator">
        <dt><img src="images/pic.jpg" /></dt>
        <dd class="share_man"><span><a href="/{{post.author.id}}/">{{post.author.get_profile.nick_name}}</a><em>{{ post.post_time|date:'Y-m-d H:i:s'}}&nbsp;&nbsp;推荐</em></span><span class="commet"><a href="/post/{{post.id}}/">&gt;{{post.get_comment_count}}回应</a></span></dd>
        <dd>{{post.content}}</dd>
      </dl>
      <div class="comment_dis">
        {% for comment in post.comments_set|order_data %}
    	<dl>
      	<dt><a href="/{{comment.author.id}}"><img src="/static/{{comment.author.get_profile.avatars.0}}"  width="25px" height="25px"></a></dt>
      	<dd class="person"><a href="/{{comment.author.id}}">{{ comment.author.get_profile.nick_name }}</a>{{ comment.post_time|date:'Y-m-d H:i:s'}}</dd>
      	<dd class="remark">{{ comment.content }}</dd>
    	</dl>
    	{% endfor %}
    	</div>
      {% endfor %}
      
    </div>
	<div class="pagenavigation">	
        {%for page in show_page.bodylist %}
			<a href="/?page={{page}}" class="{%ifequal page show_page.currect%}current{%endifequal%}">{{page}}</a>
			{%ifequal page show_page.startelpage%}...{%endifequal%}	
			{%ifequal page show_page.endelpage%}...{%endifequal%}		  
		  {%endfor%}							   
		  
	</div>
  </div>
  <div class="content_right">
  	<div>
      <h3>&gt;喜欢这个app的成员...<a href="/app/{{ data.id }}/like">(全部{{ data.get_like_count }}人)</a></h3>
      <ul class="member_list">
      {%for like in data.get_people_like|slice:":12" %}
        <li><a href="/{{ like.author.id }}"><img src="/static/{{like.author.get_profile.avatars.1}}"></a><a href="/{{ like.author.id  }}/">{{like.author.get_profile.nick_name}}</a></li>
      {%endfor%}
      </ul>
      <h3>&gt;不太喜欢这个app的成员...<a href="/app/{{data.id}}/unlike">(全部{{data.get_hate_count}}人)</a></h3>
      </ul>    
    </div>
  </div>
	{%endblock%}

