{% extends "base.html" %}
{% block content %}
  <div class="content">
    <p class="p_tl">{{user_other.get_profile.nick_name}}{{pf}}的app（全部{{num_top}}个）</p>
    <ul class="member_list">
    {% for app in apps %}
      <li><a href="{{app.item.url2appstore}}"><img src="{{app.item.img_url}}"   width="50px" height="50px" alt="{{app.item.name}}" title="{{app.item.name}}"></a><!-- <a href="{{app.item.app_url}}">{{app.item.name}}</a> --></li>
	 {%endfor%}    
    </ul>
    <div class="pagenavigation">	
        {%for page in show_page.bodylist %}
			<a href="/{{user_other.id}}/{{pfq}}/applist/?page={{page}}" class="{%ifequal page show_page.currect%}current{%endifequal%}">{{page}}</a>
			{%ifequal page show_page.startelpage%}...{%endifequal%}	
			{%ifequal page show_page.endelpage%}...{%endifequal%}		  
		  {%endfor%}							   
	</div>

{%endblock%} 
{%block siderbar%}
<div class="content_right">
    <p class="p_link">
     &gt;<a href="/{{user_other.id}}">返回{{user_other.get_profile.nick_name}}的主页</a><br>
      <br>
     &gt;<a href="/{{user_other.id}}/{{lk}}/applist">{{user_other.get_profile.nick_name}}{{pd}}的app（全部{{num_foot}}个）</a></p>
</div>
{%endblock%}