{% extends "base.html" %}
{% block content %}
<div class="join">
      <p> 从30万个app发现和分享你最喜爱的Ta<br />
        现在就加入我们！<br />
        <a href="/account/register">快速注册</a> </p>
    </div>
    {% for app in appdata %}
    <div class="app_cont">
      <p><span>{{ app.author.first_name }}</span>2010-01-15&nbsp;&nbsp;16:48&nbsp;&nbsp;推荐</p>
      <div class="app_show">
        <table id="digg" class="digg">
          <tr>
            <td width="14%" rowspan="2"><img src="{{ app.img_url}}" width="70px" height="70px"></td>
            <td width="25%"><h2>{{ app.name }}</h2></td>
            <td width="21%">{{ app.size }}</td>
            <td width="21%">价格：{{ app.price }}</td>
            <td width="19%">分类：{{ app.genre }}</td>
          </tr>
          <tr>
            <td><a href="{{ app.app_url }}" class="download">下载</a></td>
            <td><a href="#" class="good">0</a></td>
            <td><a href="#" class="bad">0</a></td>
            <td><a href="#" class="comment_amount">15</a></td>
          </tr>
        </table>
      </div>
      
      <div class="comment_dis">
      {% for comment in app.app_commten %}
        <dl>
          <dt><img src="images/pic.jpg"></dt>
          <dd class="person"><span>{{ comment.author.first_name }}</span>2010-01-15&nbsp;&nbsp;16:48</dd>
          <dd class="remark">{{ comment.content }}</dd>
        </dl>
        {% endfor %}
        <p class="more"><a href="#">更多评论>></a></p>
      </div>   
    <div class="app_more"><a href="#">查看更多</a></div>
  </div>
{% endblock %}