{% extends "base.html" %}
{% block content %}
  <div class="sign_con">
    <h2>修改头像</h2>
	<div id="tip_layout">设置更新成功</div>
    <iframe name="upload_frame" id="upload_frame" style="display: none;"></iframe>

    <form  name="file_upload" id="file_upload" enctype="multipart/form-data" action="/account/upload" target="upload_frame" method="post">
      <p>上传图片：
      <input type="file" name="img" />
        <input type="submit" value="上传" class="upload" />
        &nbsp;仅支持jpg格式的图片且小于400K <br>
      </p>
    </form>


      <p>您上传的头像会自动生成两种尺寸，请注意大小尺寸的头像是否清晰</p>
      <div class="jcrop_cont"> 
        <!---缩略图-->
        <div class="big_img"> <span><img src="{{ avatar_b }}" width="150" height="150" id="big" /></span> 大尺寸：150*150 </div>
        <div class="small_img"> <span><img src="{{ avatar_s }}" width="50" height="50" id="small" /></span> 小尺寸：50*50 </div>
        <input type="hidden" value="" id="huge"></input>
      </div>

      <p class="btn"><br>
        <input type="button" value="确定修改" id="save_btn"/>
      </p>


  <script type="text/javascript" charset="utf-8">
    function after_upload(user_id, origin, huge, big, small){
        $('#big').attr('src', '/static/avatars/tmp/' + big);
        $('#small').attr('src', '/static/avatars/tmp/' + small);
        $('#huge').attr('value', '/static/avatars/tmp/' + huge);
    }

    $('#save_btn').click(function(e){
        var big = $('#big').attr('src');
        var small = $('#small').attr('src');
        var huge = $('#huge').attr('value');
        $.post('/account/save_avatars/', {'big': big, 'small': small, 'huge': huge}, 
            function(data, status, XHR){
                if(data['result']){
                    window.location.href = "/account/";
                } else {
                    alert(data['msg']);
                }
            }, 'json');
    });
</script>

{% endblock %}
{%block siderbar%}

  <p class="sign_tip">&gt;<a href="/invitation/send">邀请好友</a></p>

{%endblock%}   


