{% extends "base.html" %}
{% block content %}
<div class="app_cont">
<div class="sign_con">
    <div class="sign_succees">
      <p>你的密码将发送到你的邮箱。</p>
    </div>
    <h2>输入你的邮箱地址</h2>
    <form method="post" action=".">
      <p>
        <label>邮箱：</label>
        <input type="text" name="email" id="email" value="{{ email }}" />
        <span id="emailTip" style="width:250px"></span> </p>
      <p>
      <p class="btn">
        <input type="submit" name="button3" id="button3" value="获取密码" />
      </p>
    </form>
</div>
{% endblock %}
