<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{{ title }}</title>
<meta name="keywords" content="{{keywords}}">
<meta name="description" content="{{description}}">
<link type="text/css" rel="stylesheet" href="/site_media/css/reset.css" />
<link type="text/css" rel="stylesheet" href="/site_media/css/skin.css" />
<link rel="shortcut icon" href="/site_media/images/guo.ico" type="image/x-icon" />

<!--跟踪代码-->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-13254122-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
<div id="head">
  <h1 class="logo"><a href="">guowee--快速分享和交流iPhone,iPad游戏和应用软件的小众社区</a></h1>
</div>
</div>
<div id="main">
    <p class="index_text">果味是一个快速分享和交流iPhone,iPad游戏和应用软件的小众社区<br>
      在这里你可以及时发现：<br>
      1、限时免费推荐<br>
      2、优秀软件降价信息<br>
      3、精品应用点评</p>
    <div class="index_login">
      
      <p class="invite_sign">果味处于内测阶段，需要邀请码注册<br>
        已有邀请码&nbsp;&nbsp;<a href="/account/register" class="btn">快速注册</a><br/><br/>
		  现在就想体验？ > <a href="http://www.douban.com/group/guowee/" target="_blank">申请内测</a>        
        </p>
        
        <div>
        <p>已有帐号，登录</p>
        <form id="form1" name="form1" method="post" action="/account/login"  onsubmit="return jQuery.formValidator.PageIsValid()">
          <label>邮箱：</label>
          <input type="text" name="email" id="email" size="30" value="yishenggudou" />
          <br>
          <label>密码：</label>
          <input type="password" name="pwd1" id="pwd1" size="30" value="11259375" />
          <br>
          <p>
            <input type="checkbox">
            记住密码&nbsp;&nbsp;<a href="/account/find-password">忘记密码?</a><br>
            <input type="submit" name="button3" id="button3" value="登录" class="btn" />
          </p>
        </form>
      </div>
    </div>
</div>
</div>
<div id="foot">
  <p class="link_ft"><a href="#">关于网站</a> <a href="#">联系我们</a> <a href="#">帮助</a></p>
  <p>copyright@2011 guowee.com</p>
</div>
</body>
</html>
