{% extends "base.html" %}
{% block content %}
  <div class="content">
      <p class="p_tl">你还有{{ counter }}枚邀请码</p>
    <div class="invite">
      <p>输入好友的邮件，发送邀请</p>
      <form method="post" action="">
          <input name="email" type="email" size="55" {% if not counter %}disabled="disabled"{% endif %} />
        <input type="submit" class="btn" value="发送" {% if not counter %}disabled="disabled"{% endif %} />
      </form>
      <p>已发送邀请的接受情况</p>
      <ul>
        {% for code in send_code_list %}
            {% if code.flag %}
        <li>{{ code.to_email }}<span class="send">已接受</span></li>
            {% else %}
        <li>{{ code.to_email }}<span class="wait">等待中</span></li>
            {% endif %}
        {% endfor %}

      </ul>
    </div>
  </div>
{%endblock%} 
{%block siderbar%}
{%endblock%}
