{% extends "base.html" %}
{% block content %}
  <div class="sign_con">
    <h2>登录</h2>
    <form id="form1" name="form1" method="post" action="/account/login"  onsubmit="return jQuery.formValidator.PageIsValid()">
      <p>
        <label>邮箱：</label>
        <input type="text" name="email" id="email" />
        <span id="emailTip"></span> </p>
      <p>
        <label>密码：</label>
        <input type="password" name="pwd1" id="pwd1" />
        <span id="pwd1Tip"></span> </p>
      <p  class="remeber">
        <input type="checkbox" name="keep_login" value="1">
        <label>记住密码</label>
        | <a href="/account/find-password">忘记密码了？</a></p>
      <p class="btn">
        <input type="submit" name="button3" id="button3" value="登录" />
      </p>
    </form>
  </div>

<p class="sign_tip">&gt;没有果味帐号？点击这里直接<a href="/account/register">注册</a></p>
{%endblock%}  
