{% extends "base.html" %}
{% block content %}
<div class="content">
    
<div class="app_cont">
{% load get_rate %}
		<dl class="promulgator">
        <dt><a href="/{{post.author.id}}"><img src="/static/{{post.author.get_profile.avatars.0}}" /></a></dt>
    <dd class="share_man"><span><a href="/{{post.author.id}}">{{ post.author.get_profile.nick_name }}</a><em>{{ post.post_time|date:'Y-m-d H:i:s'}}&nbsp;&nbsp;&nbsp;&nbsp;推荐</em></span>
    
    <span class="commet"><a href="/post/{{post.id}}">&gt;{{post.get_comment_count}}回应</a></span></dd>
        <dd>{{post.content}}</dd>
      </dl>
      <div class="app_show">
 		<table class="digg">
      <tr>
        <td width="13%" rowspan="2" align="center">
        <a href="{{post.item.url2appstore}}" target="_blank"><img src="{{ post.item.img_url}}" width="70px" height="70px"></a>
        </td>
        <td height="23" colspan="3"><h2>{{ post.item.name }}&nbsp;&nbsp;({{ post.item.device }})</h2></td>
        <td height="23" align="right"><a value="/rate/good/{{post.item.id}}" class="{{post.item.like_class|getlikeclass:user.id}}">{{ post.item|get_rate_data:1 }}</a></td>
      </tr>
      <tr>
        <td width="20%" height="27">
       	 <span class="price"><a href="{{post.item.app_url}}" >{{ post.item.price_format }}</a></span>
        </td>
        <td width="22%">大小：{{ post.item.size }}</td>
        <td width="25%">分类：{{ post.item.genre }}</td>
        <td width="20%" align="right"><a value="/rate/bad/{{post.item.id}}" class="{{post.item.hate_class|gethateclass:user.id}}">{{ post.item|get_rate_data:-1 }}</a></td>
      </tr>
    </table>
      </div>
    
    	<div class="comment_dis">
      {% for comment in comm %}
        <dl>
          <dt class="app_detail"><a href="/{{comment.author.id}}"><img src="/static/{{comment.author.get_profile.avatars.1}}"  width="25px" height="25px"></a></dt>
          <dd class="person"><a href="/{{comment.author.id}}">{{ comment.author.get_profile.nick_name }}</a>{{ comment.post_time|date:'Y-m-d H:i:s'}}
          {% if comment|showdel:user.id %}
          <span class="del_comment"><a value="/del/comment/{{post.id}}/{{comment.id}}/{{page}}" href="javascript:void(0);"  title="确定删除{{comment.author.get_profile.nick_name}}的评论？">&gt;删除</a></span></dd>
          {%endif%}
          <dd class="remark">{{ comment.content }}</dd>
        </dl>
        {% endfor %}
<script type="text/javascript">
	//删除评论
	$(".del_comment").click(
            function () 
            {
            var geturl=$(this).children('a').attr('value');
            $.ajax({
			            type: 'GET',
         			   url:geturl,
            			data:{},
            			dataType: "html",
            			success:$(this).parents('dl').slideUp(3000,function(){}),
            			});
            });
</script>
   <div class="pagenavigation">	
        {%for page in show_page.bodylist %}
			<a href="/top/?page={{page}}" class="{%ifequal page show_page.currect%}current{%endifequal%}">{{page}}</a>
			{%ifequal page show_page.startelpage%}...{%endifequal%}	
			{%ifequal page show_page.endelpage%}...{%endifequal%}		  
		  {%endfor%}							   
		  
	</div>			
			
			
     </div>
</div>

    {% if user.id %}
      <div class="add_discus">
      <p><strong>有话要说</strong></p>
      <form action="/post/{{post.id}}" method="POST" class="addcomment">
        <textarea name='content' rows="4"></textarea>
        <br />
        <p class="btn"> <img src="images/load.gif" class="loadimg" />
          <input type="submit" value="发布" class="addcomment2post" />
          <input type="hidden" name='postid' value="{{post.id}}"></input>
        </p>
      </form>

    </div>
    {% else %}
    {% endif %}
    {% endblock %}
    {%block siderbar%}
    
    <div class="content_right">
    {% if user.id %}
    {% else %}
    <div class="loginbar">
      <form id="form1" name="form1" method="post" action="/"  onsubmit="return jQuery.formValidator.PageIsValid()">
        <label>邮箱：</label>
        <input type="text" name="email" id="email" />
        <br>
        <label>密码：</label>
        <input type="password" name="pwd1" id="pwd1" />
        &nbsp;<a href="/forgetpassword">忘记密码?</a> <br>
        <p> 
          <!--<input type="checkbox">
          记住密码-->　
          <input type="submit" name="button3" id="button3" value="登录" class="btn" />
        </p>
      </form>
    </div>
    {% endif %}
    <div>
      <h3>&gt;喜欢这个app的成员...<a href="/app/{{ post.item.id }}/like">(全部{{ post.item.get_like_count }}人)</a></h3>
      <ul class="member_list">
      {%for like in post.item.get_people_like|slice:":12" %}
        <li><a href="/{{ like.author.id }}"><img src="/static/{{like.author.get_profile.avatars.1}}"></a><a href="/{{ like.author.id  }}">{{like.author.get_profile.nick_name}}</a></li>
      {%endfor%}
      </ul>
      <h3>&gt;不太喜欢这个app的成员...<a href="/app/{{post.item.id}}/unlike">(全部{{post.item.get_hate_count}}人)</a></h3>
      </ul>    
    </div>
	</div>
	
	{%endblock%}
