	{% load get_rate %}	
<dl class="promulgator">
    <dt><a href="/{{post.author.id}}"><img src="/static/{{post.author.get_profile.avatars.1}}" /></a></dt>
    <dd class="share_man"><span><a href="/{{post.author.id}}">{{ post.author.get_profile.nick_name }}</a><em>{{ post.post_time|date:'Y-m-d H:i:s'}}&nbsp;&nbsp;&nbsp;&nbsp;推荐</em></span><span class="commet"><a href="/post/{{post.id}}">&gt;{{post.get_comment_count}}回应</a></span></dd>
    <dd>{{post.content}}</dd>
  </dl>
  <div class="app_show"> 
    <table class="digg">
      <tr>
        <td width="13%" rowspan="2" align="center">
        <a href="{{post.item.url2appstore}}" target="_blank"  title="在网页中查看app详细信息"><img src="{{ post.item.img_url}}" width="70px" height="70px"></a>
        </td>
        <td height="23" colspan="3"><h2>{{ post.item.trackName }}&nbsp;&nbsp;({{ post.item.device }})</h2></td>
        <td height="23" align="right"><a value="/rate/good/{{post.item.id}}" class="{{post.item.like_class|getlikeclass:user.id}}" onclick="rate(this)">>喜欢({{ post.item|get_rate_data:1 }}) </a></td>
      </tr>
      <tr>
        <td width="20%" height="27">
       	 <span class="price"><a href="{{post.item.app_url}}" title="在iTunes中查看"  >{{ post.item.price_format }}</a></span>
        </td>
        <td width="22%">大小：{{ post.item.size }}</td>
        <td width="25%">分类：{{ post.item.genre }}</td>
        <td width="20%" align="right"><a value="/rate/bad/{{post.item.id}}" class="{{post.item.hate_class|gethateclass:user.id}}" onclick="rate(this)">不喜欢({{ post.item|get_rate_data:-1 }})</a></td>
      </tr>
    </table>
  </div>
  <div class="comment_dis"> 
  {% for comment in post.comments_set|order_data %}
    <dl>
      <dt><a href="/{{comment.author.id}}/"><img src="/static/{{comment.author.get_profile.avatars.1}}"  width="25px" height="25px"></a></dt>
      <dd class="person"><a href="/{{comment.author.id}}">{{ comment.author.get_profile.nick_name }}</a>{{ comment.post_time|date:'Y-m-d H:i:s'}}</dd>
      <dd class="remark">{{ comment.content }}</dd>
    </dl>
    {% endfor %}