{% extends "base.html" %}
{% block content %}
<div class="content">
<dl class="my_title">
  <dt><a href="/{{user_other.id}}"><img src="/static/{{user_other.get_profile.avatars.0}}"></a></dt>
  <dd>
    <h3>{{user_other.get_profile.nick_name}}</h3>
    <p>{{user_other.get_profile.bio}}</p>
  </dd>
</dl>
<div class="app_cont">
	{% load get_rate %}
  {% for post in appdata %}
  <dl class="promulgator">
    <dt><a href="/{{post.author.id}}"><img src="/static/{{post.author.get_profile.avatars.1}}" /></a></dt>
    <dd class="share_man"><span><a href="/{{post.author.id}}">{{ post.author.get_profile.nick_name }}</a><em>{{ post.post_time|date:'Y-m-d H:i:s'}}&nbsp;&nbsp;&nbsp;&nbsp;推荐</em></span><span class="commet"><a href="/post/{{post.id}}">&gt;{{post.get_comment_count}}回应</a></span></dd>
    <dd>{{post.content}}</dd>
  </dl>
  <div class="app_show"> 
    <table class="digg">
      <tr>
        <td width="13%" rowspan="2" align="center">
        <a href="{{post.item.url2appstore}}" target="_blank"><img src="{{ post.item.img_url}}" width="70px" height="70px"></a>
        </td>
        <td height="23" colspan="3"><h2>{{ post.item.name }}&nbsp;&nbsp;({{ post.item.device }})</h2></td>
        <td height="23" align="right"><a value="/rate/good/{{post.item.id}}" class="{{post.item.like_class|getlikeclass:user.id}}">{{ post.item|get_rate_data:1 }}</a></td>
      </tr>
      <tr>
        <td width="20%" height="27">
       	 <span class="price"><a href="{{post.item.app_url}}" >{{ post.item.price_format }}</a></span>
        </td>
        <td width="22%">大小：{{ post.item.size }}</td>
        <td width="25%">分类：{{ post.item.genre }}</td>
        <td width="20%" align="right"><a value="/rate/bad/{{post.item.id}}" class="{{post.item.hate_class|gethateclass:user.id}}">{{ post.item|get_rate_data:-1 }}</a></td>
      </tr>
    </table>
  </div>
  <div class="comment_dis"> 
  {% for comment in post.comments_set|order_data %}
    <dl>
      <dt><a href="/{{comment.author.id}}"><img src="/static/{{comment.author.get_profile.avatars.1}}"  width="25px" height="25px"></a></dt>
      <dd class="person"><a href="/{{comment.author.id}}">{{ comment.author.get_profile.nick_name }}</a>{{ comment.post_time|date:'Y-m-d H:i:s'}}</dd>
      <dd class="remark">{{ comment.content }}</dd>
    </dl>
    {% endfor %}
    <!--<p class="more"><a href="/post/{{post.id}}/">更多评论>></a></p>-->
  </div>
  {%endfor%} </div>
<!-- <div class="app_more"><a href="#">查看更多</a></div> -->
	<div class="pagenavigation">	
        {%for page in show_page.bodylist %}
			<a href="/?page={{page}}" class="{%ifequal page show_page.currect%}current{%endifequal%}">{{page}}</a>
			{%ifequal page show_page.startelpage%}...{%endifequal%}	
			{%ifequal page show_page.endelpage%}...{%endifequal%}		  
		  {%endfor%}							   
		   
	</div>



{% endblock %}
    {%block siderbar%}
<div class="content_right">
  <div>
    <h3>&gt;{{user_other.get_profile.nick_name}}喜欢的app...<a href="/{{user_other.id}}/like/applist">(全部{{num_like}}个)</a></h3>
    <ul class="member_list">
    {%for app in app_like%}
      <li><a href="{{app.item.url2appstore}}"><img src="{{app.item.img_url}}" width="50px" height="50px" alt="{{app.item.name}}" title="{{app.item.name}}"></a><!-- <a href="{{app.item.app_url}}">{{app.item.name|slice:'10'}}</a> --></li>
      {%endfor%}
    </ul>
    <h3>&gt;{{user_other.get_profile.nick_name}}不太喜欢的app...<a href="/{{user_other.id}}/unlike/applist">(全部{{num_unlike}}个)</a></h3>
	<ul class="member_list">
    </ul>
    <ul>
	 <li><br/></li>
    <li>>><a href="http://www.douban.com/group/topic/18612269/"  target="_blank" >意见反馈</a></li>
    </ul>  
  </div>
</div>
{%endblock%} 