{% extends "base.html" %}
{% block content %}
<div class="app_cont">
  <div class="sign_con">
    <h2>注册</h2>
    <p>{{waring}}</p>
    <form id="form1" name="form1" method="post" action=""  onsubmit="return jQuery.formValidator.PageIsValid()">
      <p>
        <label>邀请码：</label>
        <input type="text" name="invitation" id="invitation" value="{{ code }}" />
        <span id="invitationTip" style="width:250px"></span> </p>
      <p>
        <label>邮箱：</label>
        <input type="text" name="email" id="email" value="{{ email }}" />
        <span id="emailTip" style="width:250px"></span> </p>
      <p>
        <label>密码：</label>
        <input type="password" name="pwd1" id="pwd1" />
        <span id="pwd1Tip" style="width:250px"></span> </p>
      <p>
        <label>重复密码：</label>
        <input type="password" name="pwd2" id="pwd2" />
        <span id="pwd2Tip" style="width:250px"></span> </p>
      <p>
        <label>昵称：</label>
        <input type="text" name="nick_name" id="nick_name" />
        <span id="nick_nameTip" style="width:250px"></span> </p>
      <p class="btn">
        <input type="submit" name="button3" id="button3" value="提交" />
      </p>
    </form>
  </div>

  {% endblock %}
  <p class="sign_tip">&gt;已经有瓜皮帐号？点击这里直接<a href="/">登录</a></p>
  {%block siderbar%}
	{%endblock%}  
