{% extends "base.html" %}
{% block content %}
<div class="sign_con"> 
    <!--发送成功的DIV-->
    <div class="sign_succees">
      <p>您已经注册成功。</p>
      <p>一封账号激活邮件已经发到您的邮箱，请查收。</p>
    </div>
  </div>
</div>
{% endblock %}
{%block siderbar%}

{%endblock%} 