{% extends "base.html" %}
{% block content %}
<div class="sign_con"> 
    <!--发送成功的DIV-->
    <div class="sign_succees">
      <p>设置密码成功!</p>
    </div>
    <p>你的密码已经设置成功，请牢记自己的登录密码</p>
    <p>返回首页？<a href="">首页</a></p>
  </div>
</div>
{% endblock %}
{%block siderbar%}

{%endblock%} 
