{% extends "base.html" %}
{% block content %}
 <div class="sign_con">
    <h2>修改密码</h2>
  <form id="form1" name="form1" method="post" action="."  onsubmit="return jQuery.formValidator.PageIsValid()">
      <p>
        <label>当前密码：</label>
        <input type="password" name="pwd3" id="pwd3" />
        <span id="pwd3Tip"></span> </p>
      <p>
        <label>新密码：</label>
        <input type="password" name="pwd1" id="pwd1" />
        <span id="pwd1Tip"></span> </p>
      <p>
        <label>确认密码：</label>
        <input type="password" name="pwd2" id="pwd2" />
        <span id="pwd2Tip"></span></p>
        
      <p class="btn">
        <input type="submit" name="button3" id="button3" value="提交" />
      </p>
    </form>
  </div>
{% endblock %}
{%block siderbar%}

{%endblock%}  
