<div class="share_manner">
    <h3>发布方式</h3>
    <p>推荐发布的信息种类：</p>
    <ol>
      <li>喜欢的软件限时免费信息</li>
      <li>喜欢的免费软件推荐</li>
      <li>喜欢的软件降价促销信息</li>
    </ol>
    <p>发布内容需要包含有软件的下载链接，并写上简短的点评</p>
    <p>可以通过以下方式复制链接：</p>
    <ol>
      <li>电脑上打开iTunes，进入要推荐的软件页面，点击软件图标下面的向下箭头，选择"复制链接"</li>
      <li>手机上打开App Store，进入要推荐的软件页面，拉到页面底部，按"告诉朋友"，系统弹出的邮件草稿页面，复制邮件正文中的链接即可</li>
    </ol>
  </div>