<div class="content_right">
  <div class="loginbar">
    <form id="form1" name="form1" method="post" action="/account/login"  onsubmit="return jQuery.formValidator.PageIsValid()">
      <label>邮箱：</label>
      <input type="text" name="email" id="email" />
      <br>
      <label>密码：</label>
      <input type="password" name="pwd1" id="pwd1" />
      &nbsp;<a href="#">忘记密码?</a> <br>
      <p> 
        <!--<input type="checkbox">
          记住密码-->　
        <input type="submit" name="button3" id="button3" value="登录" class="btn" />
      </p>
    </form>
  </div>
  <!--    <div class="banner_left"> <a href="#"><img src="/site_media/images/banner_let.jpg"></a> <a href="#"><img src="images/banner_let.jpg"></a> <a href="#"><img src="/site_media/images/banner_let.jpg"></a> <a href="#"><img src="/site_media/images/banner_let.jpg"></a> </div>--> 
  <!--公告-->
  <h3>公告</h3>
  <ul class="announce">
    <li>果味网手机专用版即将上线，敬请期待...</li>
  </ul>
  <!--发布方式-->
  <div class="share_manner">
    <h3>发布方式</h3>
    <p>推荐发布的信息种类：</p>
    <ol>
      <li>喜欢的软件限时免费信息</li>
      <li>喜欢的免费软件推荐</li>
      <li>喜欢的软件降价促销信息</li>
    </ol>
    <p>发布内容需要包含有软件的下载链接，并写上简短的点评</p>
    <p>可以通过以下方式复制链接：</p>
    <ol>
      <li>电脑上打开iTunes，进入要推荐的软件页面，点击软件图标下面的向下箭头，选择"复制链接"</li>
      <li>手机上打开App Store，进入要推荐的软件页面，拉到页面底部，按"告诉朋友"，系统弹出的邮件草稿页面，复制邮件正文中的链接即可</li>
    </ol>
  </div>
</div>
