{% extends "base.html" %}
{% block content %}
<div class="content">
<div class="app_cont">
{% load get_rate %}
{% for post in appdata%}
 	<dl class="promulgator">
    <dt><a href="/{{post.author.id}}"><img src="/static/{{post.author.get_profile.avatars.1}}" /></a></dt>
    <dd class="share_man"><span><a href="/{{post.author.id}}">{{ post.author.get_profile.nick_name }}</a><em>{{ post.post_time|date:'Y-m-d H:i:s'}}&nbsp;&nbsp;&nbsp;&nbsp;推荐</em></span><span class="commet"><a href="/post/{{post.id}}">&gt;{{post.get_comment_count}}回应</a></span></dd>
    <dd>{{post.content}}</dd>
  </dl>
  <div class="app_show"> 
 	<table class="digg">
      <tr>
        <td width="13%" rowspan="2" align="center">
        <a href="{{post.item.url2appstore}}" target="_blank"><img src="{{ post.item.img_url}}" width="70px" height="70px"></a>
        </td>
        <td height="23" colspan="3"><h2>{{ post.item.name }}&nbsp;&nbsp;({{ post.item.device }})</h2></td>
        <td height="23" align="right"><a value="/rate/good/{{post.item.id}}" class="{{post.item.like_class|getlikeclass:user.id}}">{{ post.item|get_rate_data:1 }}</a></td>
      </tr>
      <tr>
        <td width="20%" height="27">
       	 <span class="price"><a href="{{post.item.app_url}}" >{{ post.item.price_format }}</a></span>
        </td>
        <td width="22%">大小：{{ post.item.size }}</td>
        <td width="25%">分类：{{ post.item.genre }}</td>
        <td width="20%" align="right"><a value="/rate/bad/{{post.item.id}}" class="{{post.item.hate_class|gethateclass:user.id}}">{{ post.item|get_rate_data:-1 }}</a></td>
      </tr>
    </table>
  </div>
  <div class="comment_dis">
   {% for comment in post.comments_set|order_data %}
    <dl>
      <dt><a href="/{{comment.author.id}}"><img src="/static/{{comment.author.get_profile.avatars.1}}"  width="25px" height="25px"></a></dt>
      <dd class="person"><a href="/{{comment.author.id}}/">{{ comment.author.get_profile.nick_name }}</a>{{ comment.post_time|date:'Y-m-d H:i:s'}}</dd>
      <dd class="remark">{{ comment.content }}</dd>
    </dl>
    {% endfor %}
    <!--<p class="more"><a href="/post/{{post.id}}/">更多评论>></a></p>-->
  </div>
  {%endfor%} </div>

   <!--  <div class="app_more"><a href="#">查看更多</a></div> -->
   <div class="pagenavigation">	
        {%for page in show_page.bodylist %}
			<a href="/top/?page={{page}}" class="{%ifequal page show_page.currect%}current{%endifequal%}">{{page}}</a>
			{%ifequal page show_page.startelpage%}...{%endifequal%}	
			{%ifequal page show_page.endelpage%}...{%endifequal%}		  
		  {%endfor%}							   
		  
	</div>
    
    {% endblock %}
    {%block siderbar%}
    <div class="content_right">
    {% if user.id %}
  {% else %}
    <div class="loginbar">
    <form id="form1" name="form1" method="post" action="/account/login"  onsubmit="return jQuery.formValidator.PageIsValid()">
      <label>邮箱：</label>
      <input type="text" name="email" id="email" />
      <br>
      <label>密码：</label>
      <input type="password" name="pwd1" id="pwd1" />
      <br>
      <p>
        <input type="checkbox">
        记住密码&nbsp;&nbsp;<a href="/account/findpassword">忘记密码?</a><br>
        <input type="submit" name="button3" id="button3" value="登录" class="btn" />
      </p>
    </form>
  </div>
  
  
  {% endif %}
  <!--公告-->
  <h3>公告</h3>
  <ul class="announce">
    <li>果味网手机专用版即将上线，敬请期待...</li>
  </ul>
  <!--发布方式-->
  <div class="share_manner">
    <h3>发布方式</h3>
    <p>推荐发布的信息种类：</p>
    <ol>
      <li>喜欢的软件限时免费信息</li>
      <li>喜欢的免费软件推荐</li>
      <li>喜欢的软件降价促销信息</li>
    </ol>
    <p>发布内容需要包含有软件的下载链接，并写上简短的点评</p>
    <p>可以通过以下方式复制链接：</p>
    <ol>
      <li>电脑上打开iTunes，进入要推荐的软件页面，点击软件图标下面的向下箭头，选择"复制链接"</li>
      <li>手机上打开App Store，进入要推荐的软件页面，拉到页面底部，按"告诉朋友"，系统弹出的邮件草稿页面，复制邮件正文中的链接即可</li>
    </ol>
    <ul>
	 <li><br/></li>
    <li>>><a href="http://www.douban.com/group/topic/18612269/"  target="_blank" >意见反馈</a></li>
    </ul>
  </div>
</div>
	{%endblock%}