{% extends "base.html" %}
{% block content %}
  <div class="content">
    <p class="p_tl">    
    {{pf}}"{{item.name}}"的成员（全部
	 {%ifequal lk 'unlike'%}    
    {{item.get_like_count}}人）
    {%endifequal%}  
    {%ifequal lk 'like'%} 
    {{item.get_hate_count}}人）
    {%endifequal%} 
    </p>
    <ul class="member_list">
    	{%for pe in data %}
      <li><a href="/{{pe.author.id}}/"><img src="/static/{{pe.author.get_profile.avatars.1}}" title="{{pe.author.get_profile.nick_name}}"></a><a href="/{{pe.author.id}}/">{{pe.author.get_profile.nick_name}}</a></li>
      {%endfor%}
    </ul>
    <div class="pagenavigation">	
        {%for page in show_page.bodylist %}
			<a href="/post/{{post.id}}/?page={{page}}" class="{%ifequal page show_page.currect%}current{%endifequal%}">{{page}}</a>
			{%ifequal page show_page.startelpage%}...{%endifequal%}	
			{%ifequal page show_page.endelpage%}...{%endifequal%}		  
		  {%endfor%}							   
	</div>
  
{%endblock%} 
{%block siderbar%}
<div class="content_right">
    	<!-- <p class="p_link">
    	&gt;<a href="/post/{{post_id}}/">返回"{{item.name}}"页面</a><br>
      <br>
      &gt;<a href="/app/{{item.id}}/{{lk}}/">{{pd}}"{{item.name}}"的成员（全部{{item.get_hate_count}}人）</a></p> -->
</div>

{%endblock%}