{% extends "base.html" %}
{% block content %}
<div class="sign_con"> 
    <!--发送成功的DIV-->
    <div class="sign_succees">
      <p>{{waring.main}}</p>
    </div>
    <p>{{waring.details}}</p>
    <p>{{waring.helper}}<a href="{{waring.url}}">{{waring.url_text}}</a></p>
  </div>
</div>
{% endblock %}
{%block siderbar%}

{%endblock%}  